# Copy this to test_auth.cfg and run pytest in the project home directory.
# Openrunner: Use any mail address as login name but define gpxitytest as public identifier.
# The public identifier can be used for login.

[MMT:gpxitytest]
Password = XXX

[MMT:gpxstoragemany]
Password = XXX

[MMT:wrong_password]
Password = wrong

[TrackMMT:wrong_password]
Password = wrong

[GPSIES:wrong_password]
Password = wrong

[GPSIES:gpxitytest]
Password = XXX

[Mailer:gpxitytest]
Url = backup@rohdewald.de

[ServerDirectory:mmtserver]
Url = /tmp/serverdirectory_test

[TrackMMT:gpxitytest]
Url = http://localhost:[port]
Password = XXX

[WPTrackserver:wrong_password]
Password = wrong

[Openrunner:wrong_password]
Password = wrong

[Openrunner:gpxitytest]
Password = XXX
